<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Shar's Cookbook!</h1>
    <!-- login/register -->
    <a href="/authentication/register">Login/Register</a> <br><br>
    <!-- about page -->
     <a href="/about">About Us</a><br><br>
     <!-- recipes -->
     <a href="/recipes">Recipes!</a> 
     <!-- hi -->
</body>
</html>