<html>
    <head>
        <title>My Recipes</title>
    </head>
    <body>
        <h3>View My recipes</h3>
        <hr>
        <!-- redirect to add recipe page -->
        <a href="/addrecipe">Add recipe</a>
        <table border = "1">
            <!-- array of objects myrecipes -->
             <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Steps</th>
             </tr>
            <% myrecipes.forEach((recipe) => {%>
                <tr>
                    <td><%= recipe.title%></td>
                    <td><%= recipe.description %></td>
                    <td><%= recipe.steps %></td>
                </tr>
            <% }) %>
        </table>
        <a href="/editrecipe">Edit/Delete Recipe(s)</a>
    </body>
</html>